[Desktop Entry]
Version=1.0
Name=App Swipe
GenericName=App Swipe
Exec=appswipe
Icon=appswipe
Terminal=false
Type=Application
Categories=System;Settings
StartupNotify=false
